:root {
    --color-progressive: #88a3e8;
}

body {
    font-family: sans-serif;
    width: 70%;
    margin: 0 auto;
}

header {
    margin: 1em 0;
}

header a.cdx-button {
    text-decoration: none;
}

#wpTextbox1 {
    width: 100%;
}

#wpSummary {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    filter: brightness(50%);
}

.API {
    font-family: 'DejaVu Sans', 'Segoe UI', 'Lucida Grande', 'Charis SIL', 'Gentium Plus', 'Doulos SIL', sans-serif;
}
