:root {
    --color-progressive: #88a3e8;
}

body {
    font-family: sans-serif;
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    filter: brightness(50%);
}